{% extends 'flat.html' %}
{% block content %}

	<form action="" method="post">{% csrf_token %}
		<p>Marca il box sottostante se sei sicuro di voler rinunciare alle promozioni di Scardaci</p>
		{{form.as_p}}
		<input type="submit"title="iniva"value="invia" />
	</form>

{% endblock %}
