{% load bootstrap3 %}
<h2>Contattaci</h2>
<p>Puoi contattarci ai numeri:</p>
<ul>
	<li><a href="tel:+39 095316981">telefono: + 39 095 316981</a></li>
	<!--<li><a href="tel:+39 3683468119">cellulare: +39 368 3468119</a></li>-->
	<li><a href="tel:+39 3772768667">cellulare: +39 377 2768667</a></li>
</ul>
<h4>Prenota un appuntamento:</h4>
<form action="/"role="form" class="form-inline" method="post">{% csrf_token %}
	{% bootstrap_form form_messaggio layout="inline" %}
	{% buttons submit="Invia" layout="inline" %}
    {% endbuttons %}
</form>