{% load i18n %}

{% load staticfiles %}
<nav class="navbar navbar-default" role="navigation">

	<div class="navbar-header">
		<h1><img src="{% static 'img/logo.png' %}" alt="scardaci catering" /></h1>
		<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#menu-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
	</div>
	<div class="collapse navbar-collapse" id="menu-collapse">
		<ul class="nav navbar-nav">
		{% for voce in menu %}
			<li>
				<a href="{{voce.get_absolute_url}}" class="catering_nav slider_trigger">{{voce.nome}}</a>
			</li>
		{% endfor %}
		{% if sottomenu %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Locations' %}</a>
				 <ul class="dropdown-menu">
				 	
				 	{% for voce in sottomenu %}
				 	
				 	<li><a href="{{voce.get_absolute_url}}" class="catering_nav slider_trigger">{{voce.nome}}</a></li>
				 	{% endfor %}
				 </ul>
			</li>
		{% endif %}
		{% if altre_voci %}
		{% for voce in altre_voci %}
			<li><a href="{% url "flatpage" url=voce.pagina.url %}" class="page_nav slider_trigger">{{voce.nome}}</a></li>
		{% endfor %}
		{% endif %}
		<li>
			<a href="#" class="contattaci slider_trigger">Contattaci</a></li>
		</li>
		</ul>
		<ul class="nav navbar-nav pull-right social-head">
			<li>
				 <a href="https://www.facebook.com/PasticceriaScardaci"><i class="fa fa-facebook-square"> </i></a>

			</li>
			<li>
				<a href="https://twitter.com/Scardaci_1933"><i class="fa fa-twitter-square"> </i></a>
			</li>
		</ul>
	</div>

</nav>