{% load thumbnail %}
{% load markup %} 
{% for catering in lista_catering %}
{% thumbnail catering.evidenza "100x100" crop="center" as im %}
<div class="clearfix row"  {% if not catering.tipo.principale%}itemscope itemtype="http://schema.org/Place"{% endif %}>
 {% if not catering.tipo.principale%}
    <span itemprop="containedIn" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name" content="{{catering.tipo.nome}}"></span>
        <span itemprop="url" content="http://www.comune.{{catering.tipo.nome}}.it/"></span>
    </span>
 {% endif %}
	<div class="links col-sm-2">
	<a href="{{catering.evidenza.url}}">
    <img {% if not catering.tipo.principale%} itemprop="photo"{% endif %} class="thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    </a>
    


{% for imm in catering.galleria.all %}
    <a {% if not catering.tipo.principale%} itemprop="photo"{% endif %} href="{{imm.immagine.url}}">
    </a>
    {% endfor %}
    </div>
	<div class="col-sm-10">
		<h2><span {% if not catering.tipo.principale%} itemprop="name"{% endif %}>{{ catering.titolo }}</span><small><a class="links-ref" href="#"><i class="fa fa-film"></i> Guarda la galleria <i class="fa fa-share"></i> </a></small></h2>
		<span class="testo" {% if not catering.tipo.principale%} itemprop="description"{% endif %} >
		{{catering.testo|markdown:"safe"}}
		</span>
		<a class="commenta" href="http://scardacicatering.zapto.org#disqus_thread" data-disqus-identifier={{catering.slug}}><i class="fa fa-comment"></i> Commenta</a>
		<a href="#" class="feed-trigger"> 
		<i 
			class="fa fa-thumbs-o-up" 
			data-name="{{ catering.titolo }}" 
			data-description='{{catering.testo}}' 
			data-picture="http://scardacicatering.it{{im.url}}"
			data-link="http://scardacicatering.it/"> 
		</i> condividi
		</a>
	</div>
    
</div>
{% endthumbnail %}
{% endfor %}

{% if not lista_catering %}
Nessun catering
{% endif%}
{% if page_obj.has_previous or page_obj.has_next %}
	<ul class="pager" itemscope itemtype="http://schema.org/SiteNavigationElement">
		{% if page_obj.has_previous %}
			<li class="previous" ><a  itemprop="url" href="{{url}}?page={{ page_obj.previous_page_number }}">Precedenti</span><meta itemprop="name" content="previous"/></li>
		{% endif %}
		{% if page_obj.has_next %}
			<li class="next" ><a itemprop="url" href="{{url}}?page={{ page_obj.next_page_number }}">Prossime</a><meta itemprop="name" content="next"/><</li>
		{% endif %}
	</ul>
{% endif %}