nav.navbar.navbar-default {
  margin-top: .5%;
  background: #14335b;
  border: none;
  padding: 10px 30px 0 0;
  text-shadow: 2px 2px 3px #14335b;
}
nav.navbar.navbar-default .navbar-header {
  background: #14335b;
  margin-left: 20px;
  width: 165px;
  height: 60px;
}
nav.navbar.navbar-default .navbar-header img {
  vertical-align: top;
  position: absolute;
  top: 14px;
  background: #14335b;
  padding: 3px;
  padding-top: 0;
  border-radius: 0 0 10px 10px;
  width: 165px;
}
nav.navbar.navbar-default a {
  font-size: 1.2em;
  text-align: center;
  transition: opacity .5s;
  -webkit-transition: opacity 1s;
  outline: none;
}
nav.navbar.navbar-default a:hover {
  opacity: .8;
}
.dropdown-menu {
  background: #14335b;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover {
  background: none;
  color: #f0b05e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #14335b;
}
#menu-collapse {
  overflow: visible;
  border-top-right-radius: 10px;
  background: #589dbe;
  /* Old browsers */

  background: -moz-linear-gradient(top, #589dbe 0%, #14335b 100%, #14335b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #589dbe), color-stop(100%, #14335b), color-stop(100%, #14335b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #589dbe 0%, #14335b 100%, #14335b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #589dbe 0%, #14335b 100%, #14335b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #589dbe 0%, #14335b 100%, #14335b 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #589dbe 0%, #14335b 100%, #14335b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@light_blue', endColorstr='@blue', GradientType=0);
  /* IE6-9 */

}
.nav.navbar-nav.social-head > li > a {
  font-size: 1.3em;
}
.nav.navbar-nav.social-head > li > a:hover {
  color: white;
  background: #14335b;
}
.collapse {
  display: block;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #14335b;
  color: #fff;
  background: rgba(20, 51, 91, 0.75);
  /* Old browsers */

  background: -moz-linear-gradient(top, rgba(20, 51, 91, 0.75) 0%, #14335b 100%, #14335b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(20, 51, 91, 0.75)), color-stop(100%, #14335b), color-stop(100%, #14335b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(20, 51, 91, 0.75) 0%, #14335b 100%, #14335b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(20, 51, 91, 0.75) 0%, #14335b 100%, #14335b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(20, 51, 91, 0.75) 0%, #14335b 100%, #14335b 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(20, 51, 91, 0.75) 0%, #14335b 100%, #14335b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */

}
body {
  margin-bottom: 40px;
}
#slide_container {
  background: rgba(255, 255, 255, 0.8);
  border-left: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 3px 10px #14335b, 0px 0px 100px 0 rgba(240, 176, 94, 0.4) inset;
  padding: 15px;
}
#slide_container .thumbnail {
  box-sizing: content-box;
  width: 100%;
}
#slide_container h2 {
  display: inline;
}
#slide_container h2 small {
  font-size: 50%;
}
#slide_container .testo {
  display: block;
}
.pager {
  margin: 0;
}
.pager li > a {
  background: #2c3e50;
  transition: background .5s, color 1s;
}
.pager li > a:hover {
  background-color: #143352;
  color: rgba(255, 255, 255, 0.7);
}
#contatti {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px 0 0 10px;
  box-shadow: -3px 3px 10px #14335b, 0px 0px 100px 0 rgba(240, 176, 94, 0.4) inset;
  font-size: 1em;
  padding-bottom: 10px;
}
#contatti textarea {
  width: 100%;
  box-sizing: border-box;
  height: 5em;
}
#contatti .form-control {
  margin-bottom: 6px;
  border-color: rgba(240, 176, 94, 0.4);
  transition: border-color 0.7s;
  -webkit-transition: border-color 0.7s;
}
#contatti .form-control:focus {
  border-color: #f0b05e;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 176, 94, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 176, 94, 0.6);
}
@media screen and (max-width: 1200px) {
  nav.navbar.navbar-default a {
    font-size: 1.1em;
    padding: 19.5px 9px;
  }
}
@media screen and (max-width: 992px) {
  nav.navbar.navbar-default a {
    font-size: 1.1em;
    padding: 19.5px 6.5px;
  }
  nav.navbar.navbar-default .navbar-header {
    width: 0;
    background: none;
  }
  nav.navbar.navbar-default .navbar-header img {
    top: 65px;
    padding: 0;
  }
  .nav.navbar-nav.social-head > li > a {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-image: none!important;
    background: ivory;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .collapse {
    display: none;
  }
  nav.navbar.navbar-default {
    padding: 5px 0 0 0;
  }
  nav.navbar.navbar-default .navbar-header {
    width: 100%;
  }
  nav.navbar.navbar-default .navbar-header .button {
    width: 5em;
  }
  nav.navbar.navbar-default .navbar-header .icon-bar {
    width: 2.5em;
  }
  .dropdown-menu {
    width: 50%;
  }
  .social-head {
    width: 100%;
  }
  .social-head li {
    width: 50%;
    float: left;
  }
  .social-head li a {
    font-size: 1.2em;
  }
  nav.navbar.navbar-default a {
    font-size: 1.3em;
    padding: 19.5px 6.5px;
  }
  nav.navbar.navbar-default .navbar-header {
    background: none;
  }
  nav.navbar.navbar-default .navbar-header img {
    top: 0;
    padding: 2px 0;
    position: relative;
    float: left;
    border-radius: 0;
    max-height: 100%;
  }
  #menu-collapse {
    border-radius: 0;
  }
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  background-image: url('http://advpress.files.wordpress.com/2012/03/hotel-panorama.jpg');
  background-image: url('https://lh6.googleusercontent.com/-MadXNQYaeDQ/TYxekFQlRiI/AAAAAAAAALI/21kebfomXOM/s1600/garden_area.jpg');
  background-image: url('');
  background-image: url('http://affordable-personalized-weddings.com/wp-content/uploads/2013/04/Turtle-Bay-Resort-Wedding-Pavilion-with-Couple-Credit-John-De-Mello-.jpg');
  background-image: url('http://s30.postimg.org/rh8fcr29d/Turtle_Bay_Resort_Wedding.jpg');

  background-size: cover;
}
.row {
  margin: 0;
}
#content {
  padding-left: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0b05e;
}
a {
  color: #589dbe;
}
a:hover,
a:focus {
  color: #f0b05e;
  text-decoration: none;
}
body {
  height: 100%;
}
.popover.fade.bottom.in {
  background: rgba(255, 255, 255, 0.8);
}
.popover.fade.bottom.in .arrow {
  opacity: .8;
}
