<!DOCTYPE HTML>
<html>
	<head>
	<meta name="description" content="Scardaci Grangala - catering in sicilia e catania">
	<meta name="keywords" content="pasticceria, pasticeria, scardaci, grangala, scardaci grangala,
	  catering, scardaci catering, catania, sicilia, matrimonio, matrimonio a catania, matrimonio in sicilia,
	  matrimoni, feste, diciottesimo, 18, convegni, raduni, congressi, eventi aziendali, eventi aziendali in sicilia">
	<meta name="ROBOTS" content="ALL">
	<meta name="google-site-verification" content="eMEQ2fYVnpOvHm2gAwWWIvNs4orSvfauh9puBVklKg4" />
	<meta name="msvalidate.01" content="6B3D4F1C39898F329CE838AF40ECBD9D" />
		<title>{%block metatitle %}Scardaci Catering{%endblock%}</title>
		{% block main_styles %}
		{# <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"> #}
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
				<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

		<link href="/static/css/style.css" rel="stylesheet">
		{% endblock %}
		{% block extra_styles %}
		{% endblock %}
	</head>
	<body>
		<div id="fb-root"></div>
		{% block body %}
		{% endblock %}
		{% block main_scripts %}
		<script type="text/javascript">var disqus_developer = 1; // this would set it to developer mode </script> 
		<script src="/static/jquery-ui/js/jquery-1.9.1.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="/static/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
		
		<script src="/static/js/grangala.ui.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-47576215-1', 'scardacicatering.it');
		  ga('send', 'pageview');
		
		</script>
		{% endblock %}
		{% block extra_scripts %}
		
		{% endblock %}	
	</body>
</html>