{% extends 'base.html' %}
{% block body %}
	{% block header %}
		{% include 'partials/header.html' %}
	{% endblock %}
	<div class="row">
	<div id="content" class="col-md-9">
		{% block supercontent %}
		{% block content %}
		{% endblock %}
		{% endblock %}
	</div>
	<aside id="contatti" class="col-md-3">
		{% block contatti %}
		{% include 'partials/contatto.html' %}
		{% endblock %}
	</aside>

	{% block footer %}
		{% include 'partials/footer.html' %}
	
	
	{% endblock %}
	{%block hidden %}
		{% block blueimp %}
			<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
			<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
			    <div class="slides"></div>
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				</div>
			</div>
		{% endblock %}
		{% block commenti %}
		{# usualmente nascosto serve per i commenti e forse altro #}
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Inserisci un commento</h4>
		      </div>
		      <div class="modal-body">
		      	<div id="disqus_thread"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
		{% endblock %}
	{% endblock %}
{% endblock %}