#contatti{
  background:#fff;
  background:rgba(255,255,255,.8);
  border-radius:10px 0 0 10px;
  box-shadow:-3px 3px 10px @blue, 0px 0px 100px 0 fadeout(@gold,60) inset;
  font-size:1em;
  padding-bottom:10px;
  textarea{
      width:100%;
    box-sizing:border-box;
    height:5em;
  }

.form-control{
  margin-bottom:6px;
  border-color: fadeout(@gold,60);
  transition: border-color .7s;
      -webkit-transition: border-color .7s;
  &:focus{
    border-color: @gold;
    -webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.075) inset ,0 0 8px fadeout(@gold,40);
    box-shadow:  0 1px 1px rgba(0,0,0,0.075) inset ,0 0 8px fadeout(@gold,40);
  }
}
}