@logoWidth:165px;
nav.navbar.navbar-default {
  margin-top: .5%;
  background: @blue;
  border: none;
  padding: 10px 30px 0 0;
  text-shadow:2px 2px 3px @blue;
  .navbar-header{
    background:@blue;
    margin-left:20px;
    width:@logoWidth;
    height:60px;
    img{
      
      vertical-align: top;
      position: absolute;
      top: 14px;
      background: @blue;
      padding: 3px;
      padding-top:0;
      border-radius: 0 0 10px 10px;
      width:@logoWidth;
    }
   }
   a{
     font-size:1.2em;
     text-align:center;
     transition: opacity .5s;
      -webkit-transition: opacity 1s;
      outline:none;
  &:hover{
    opacity:.8;
   }
  }
}
.dropdown-menu{
  background: @blue;
  &>li>a{
    color:#fff;
    &:hover{
      background:none;
      color:@gold;
    }
  }
}
.navbar-default .navbar-nav>.open>a{
   &, &:hover, &:focus{
    background-color: @blue;
  }
}

 #menu-collapse{
   overflow: visible;
   border-top-right-radius: 10px;
   background: @light_blue; /* Old browsers */
background: -moz-linear-gradient(top, @light_blue 0%, @blue 100%, @blue 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@light_blue), color-stop(100%,@blue), color-stop(100%,@blue)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, @light_blue 0%,@blue 100%,@blue 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, @light_blue 0%,@blue 100%,@blue 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, @light_blue 0%,@blue 100%,@blue 100%); /* IE10+ */
background: linear-gradient(to bottom, @light_blue 0%,@blue 100%,@blue 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@light_blue', endColorstr='@blue',GradientType=0 ); /* IE6-9 */
 }
.nav.navbar-nav.social-head > li > a {
  font-size: 1.3em;
  &:hover{
    color:white;
    background:#14335b;
  }
}
.collapse{
  display:block;
}
