@media screen and (max-width:@screen-md-min){
  nav.navbar.navbar-default {
    a {
    font-size: 1.1em;
    padding: 19.5px 6.5px;
  }
    .navbar-header{
      width:0;
      background:none;
      img{
        top: 65px;
        padding:0;
      }
    }
  }
      .nav.navbar-nav.social-head > li > a {
      font-size:1.2em
    }
}
