@media screen and (max-width:@screen-sm-min){
  body{
    background-image:none!important;
    background:ivory;
  }
  .navbar-collapse.in{
    overflow-y:visible;
  }
  .collapse{
    display:none;
  }
  nav.navbar.navbar-default{ 
    padding: 5px 0 0 0;
    .navbar-header{
      width:100%;
      
      .button{
        width: 5em;
      }
      .icon-bar{
        width:2.5em;
      }
    }
  }
  .dropdown-menu{
    width: 50%;
  }
  .social-head {
    width: 100%;
    li {
      width: 50%;
      float: left;
      a{
        font-size:1.2em
      }
    }
  }
  nav.navbar.navbar-default {
    a {
    font-size: 1.3em;
    padding: 19.5px 6.5px;
  }
    .navbar-header{
      background:none;
      img{
        top: 0;
        padding: 2px 0;
        position: relative;
        float: left;
        border-radius: 0;
        max-height: 100%;
        
      }
    }
  }
  #menu-collapse{
    border-radius:0;
  }
}
