#slide_container{
  
  background:rgba(255,255,255,.8);
  border-left:none;
  border-radius:0 10px 10px 0;
  box-shadow:3px 3px 10px @blue, 0px 0px 100px 0 fadeout(@gold,60) inset;
  padding: 15px;
  .thumbnail{
    box-sizing:content-box;
    width:100%
  }
  h2{
    display:inline;
    small{
      font-size:50%;
      }
    }
  .testo{
    display:block;
  }

}
.pager{
  margin:0;
  li>a{
    background:@dark_blue;
    transition: background .5s, color 1s;
    &:hover{
      background-color: #143352;
      color: rgba(255,255,255,.7);
    }
  }
}
