@import "var.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";
@import "slider.less";
@import "aside.less";
@import "media.less";
html{
  min-height:100%;
}
body{
 height:100%;
 background-image:url('http://advpress.files.wordpress.com/2012/03/hotel-panorama.jpg');
 background-image:url('https://lh6.googleusercontent.com/-MadXNQYaeDQ/TYxekFQlRiI/AAAAAAAAALI/21kebfomXOM/s1600/garden_area.jpg');
 background-image:url('');
 background-image:url('http://affordable-personalized-weddings.com/wp-content/uploads/2013/04/Turtle-Bay-Resort-Wedding-Pavilion-with-Couple-Credit-John-De-Mello-.jpg');
 background-size:cover;
}
.row{
  margin:0;
}
#content{
  padding-left:0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color:@gold;
  
}
a{
  color:@light_blue;
  &:hover, &:focus{
    color: @gold;
    text-decoration:none;
  }
}

body{
  
  height:100%;
}
.popover.fade.bottom.in{
  background:fadeout(#fff,20);
  .arrow{
    opacity:.8;
  }
}
